img{
width:100%;
max-width:400px;
height:auto;
display:block;
margin:15px auto;
border-radius:10px;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#f4f6f9;
color:#222;
line-height:1.6;
transition:0.3s;
}

/* HEADER */

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:#1e3a8a;
color:white;
}

nav a{
color:white;
margin:0 10px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
text-decoration:underline;
}

nav button{
background:white;
border:none;
padding:6px 10px;
border-radius:5px;
cursor:pointer;
}

/* HERO */

.hero{
text-align:center;
padding:80px 20px;
background:linear-gradient(to right,#2563eb,#1e3a8a);
color:white;
}

.hero h2{
font-size:32px;
margin-bottom:15px;
}

.hero p{
max-width:600px;
margin:auto;
margin-bottom:20px;
}

.hero button{
padding:10px 20px;
border:none;
background:white;
color:#1e3a8a;
border-radius:8px;
font-weight:bold;
cursor:pointer;
}

.hero button:hover{
background:#e5e7eb;
}

.motivation{
margin-top:20px;
font-style:italic;
}

/* CONTENT */

.content{
padding:60px 20px;
text-align:center;
}

.card{
background:white;
margin:20px auto;
padding:20px;
max-width:500px;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

/* FOOTER */

footer{
text-align:center;
padding:20px;
background:#1e3a8a;
color:white;
margin-top:40px;
}

/* DARK MODE */

body.dark{
background:#121212;
color:#eee;
}

body.dark header,
body.dark footer{
background:#0f172a;
}

body.dark .hero{
background:linear-gradient(to right,#1e293b,#0f172a);
}

body.dark .card{
background:#1e293b;
color:white;
}

body.dark nav button{
background:#1e293b;
color:white;
}